In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

con = sqlite3.connect("csgo.db")

csgo_df = pd.read_sql_query("SELECT * from round, game WHERE round.game_id = game.id", con, parse_dates=["time"])
players_df = pd.read_sql_query("SELECT * from players", con)
csgo_df['time'] = pd.to_datetime(csgo_df['time'], utc=True)

In [2]:
csgo_df['survivingCount'] =  csgo_df.survivingPlayers.apply(lambda x: len(x[1:-1].split(',')) if x != 'null' else 0)

In [3]:
test = csgo_df.resample("Y", on="time")
test.mean().dropna()

C:\Users\bevan\AppData\Local\Temp\ipykernel_20568\1587098347.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test.mean().dropna()

,round_id,game_id,duration,losingSide,startTick,endTick,endOfficialTick,losingTeamLeftoverMoney,equipmentSavedValue,longestKillWait,lastKillToEnd,round_no,heDamage,id,tickrate,survivingCount
time,,,,,,,,,,,,,,,,
2014-12-31 00:00:00+00:00,1191.5,47.668766,76.928631,2.405122,183612.505038,193045.977330,195460.715365,20242.359362,712.132662,2649.380772,462.788833,12.620067,0.000000,47.668766,128.0,0.172544
2016-12-31 00:00:00+00:00,6390.0,241.107598,83.960831,2.482775,221908.191600,232133.887211,235031.957527,19772.463426,975.460123,2860.500236,676.764512,13.473808,23.643700,241.107598,128.0,0.259084
2022-12-31 00:00:00+00:00,3856.5,146.589552,89.905360,2.445726,232251.232022,243162.265604,244786.142469,20888.839891,2012.042062,3245.373474,1134.177069,13.677748,32.427748,146.589552,128.0,0.446065

In [4]:
test = csgo_df.resample("M", on="time")
test.mean().dropna()

C:\Users\bevan\AppData\Local\Temp\ipykernel_20568\4142127700.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test.mean().dropna()

,round_id,game_id,duration,losingSide,startTick,endTick,endOfficialTick,losingTeamLeftoverMoney,equipmentSavedValue,longestKillWait,lastKillToEnd,round_no,heDamage,id,tickrate,survivingCount
time,,,,,,,,,,,,,,,,
2014-03-31 00:00:00+00:00,1363.0,54.246871,76.517634,2.455063,183883.199090,193149.213879,195122.092150,20454.550626,790.614334,2642.104664,517.871445,12.588168,0.000000,54.246871,128.0,0.188851
2014-08-31 00:00:00+00:00,2092.5,82.734483,81.324138,2.412069,198108.851724,208184.668966,210342.818966,20252.586207,773.189655,2756.577586,453.074138,12.874138,0.000000,82.734483,128.0,0.181034
2014-11-30 00:00:00+00:00,462.0,19.369447,74.557963,2.353196,174245.418202,183434.724810,186431.495125,20033.856988,599.024919,2588.949079,416.436620,12.490791,0.000000,19.369447,128.0,0.151679
2016-04-30 00:00:00+00:00,6950.5,261.871743,84.291583,2.510020,228674.474950,239135.340681,241480.592184,19978.406814,920.390782,2858.825651,652.044088,13.984970,25.575150,261.871743,128.0,0.232465
2016-07-31 00:00:00+00:00,5891.0,222.621766,83.666369,2.458519,215884.328278,225900.657449,229290.889384,19589.116860,1024.487065,2861.991079,698.772525,13.018733,21.924175,222.621766,128.0,0.282783
2022-05-31 00:00:00+00:00,2961.0,113.257563,90.426102,2.438202,228054.922213,239039.114088,240173.592048,20756.871219,1994.641314,3298.834918,1132.635264,14.336214,33.662921,113.257563,128.0,0.433881
2022-11-30 00:00:00+00:00,4435.0,168.122278,89.568956,2.450586,234962.080960,245825.853713,247765.886097,20974.092686,2023.283082,3210.836963,1135.173088,13.252373,31.629816,168.122278,128.0,0.453936